@charset "UTF-8";
/*color de fondo del body*/
/*color de fondo del header y footer*/
/*color fuente header*/
/*paleta de colores carouseles*/
/*mixin tamaño del logo IMA*/
/*propiedades box model carouseles*/
* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  border: none;
  margin: 0%;
  padding: 0%;
  font-family: 'Cabin Condensed', sans-serif;
}

/*propiedades de body*/
.body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6dae8), color-stop(#ded2e1), color-stop(#d6cada), color-stop(#cec2d3), color-stop(#c6bacc), color-stop(#c5bacd), color-stop(#c5bacd), color-stop(#c4bace), color-stop(#cac2d6), color-stop(#d0c9de), color-stop(#d7d1e6), to(#ddd9ee));
  background-image: linear-gradient(to bottom, #e6dae8, #ded2e1, #d6cada, #cec2d3, #c6bacc, #c5bacd, #c5bacd, #c4bace, #cac2d6, #d0c9de, #d7d1e6, #ddd9ee);
}

/*PROPIEDADES DE LA PÁGIN DE ERROR 404*/
.cuerpoerror404 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6dae8), color-stop(#ded2e1), color-stop(#d6cada), color-stop(#cec2d3), color-stop(#c6bacc), color-stop(#c5bacd), color-stop(#c5bacd), color-stop(#c4bace), color-stop(#cac2d6), color-stop(#d0c9de), color-stop(#d7d1e6), to(#ddd9ee));
  background-image: linear-gradient(to bottom, #e6dae8, #ded2e1, #d6cada, #cec2d3, #c6bacc, #c5bacd, #c5bacd, #c4bace, #cac2d6, #d0c9de, #d7d1e6, #ddd9ee);
  margin: 0;
  left: 0;
  padding-top: 15px;
  height: 110vh;
}

.cuerpoerror404 .cuerpoerror404__container {
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
}

.cuerpoerror404 .cuerpoerror404__container .cuerpoerror404__container--encabezado {
  overflow: hidden;
  text-align: center;
  display: block;
  color: #502f5ef5;
  font-size: 2.75rem;
}

.cuerpoerror404 .cuerpoerror404__container .cuerpoerror404__container--imagen {
  width: 50%;
  box-shadow: -3px -6px 85px -14px rgba(124, 109, 153, 0.65);
  -webkit-box-shadow: -3px -6px 85px -14px rgba(124, 109, 153, 0.65);
  -moz-box-shadow: -3px -6px 85px -14px rgba(124, 109, 153, 0.65);
  border-radius: 6px;
}

@media (min-width: 320px) {
  .cuerpoerror404 .cuerpoerror404__container .cuerpoerror404__container--imagen {
    height: 400px;
  }
}

@media (min-width: 480px) {
  .cuerpoerror404 .cuerpoerror404__container .cuerpoerror404__container--imagen {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .cuerpoerror404 .cuerpoerror404__container .cuerpoerror404__container--imagen {
    height: 550px;
  }
}

@media (min-width: 960px) {
  .cuerpoerror404 .cuerpoerror404__container .cuerpoerror404__container--imagen {
    height: 570px;
  }
}

.cuerpoerror404 .cuerpoerror404__container #cuerpoerror404__container--texto {
  overflow: hidden;
  margin: 10px;
  color: #502f5ef5;
}

@media (min-width: 320px) {
  .cuerpoerror404 .cuerpoerror404__container #cuerpoerror404__container--texto {
    font-size: 0.75rem;
  }
}

@media (min-width: 480px) {
  .cuerpoerror404 .cuerpoerror404__container #cuerpoerror404__container--texto {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .cuerpoerror404 .cuerpoerror404__container #cuerpoerror404__container--texto {
    font-size: 1.25rem;
  }
}

@media (min-width: 960px) {
  .cuerpoerror404 .cuerpoerror404__container #cuerpoerror404__container--texto {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .cuerpoerror404 .cuerpoerror404__container #cuerpoerror404__container--texto {
    font-size: 1.5rem;
  }
}

.cuerpoerror404 .cuerpoerror404__container .cuerpoerror404__container--boton {
  text-align: center;
  width: 100%;
  overflow: hidden;
  color: #f3f0f7;
  background-color: #511569;
  border-radius: 1px;
  border: solid 1px gray;
  pointer-events: all;
}

/*propiedades del header*/
header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bbb3be), color-stop(#bbb2c0), color-stop(#bbb0c3), color-stop(#baafc5), color-stop(#b9aec8), color-stop(#b7abca), color-stop(#b4a7cd), color-stop(#b1a4cf), color-stop(#ac9ed1), color-stop(#a897d3), color-stop(#a291d4), to(#9d8bd6));
  background-image: linear-gradient(to right bottom, #bbb3be, #bbb2c0, #bbb0c3, #baafc5, #b9aec8, #b7abca, #b4a7cd, #b1a4cf, #ac9ed1, #a897d3, #a291d4, #9d8bd6);
  font-style: italic;
  box-shadow: -1px 7px 7px 1px rgba(146, 137, 194, 0.75);
  -webkit-box-shadow: -1px 7px 7px 1px rgba(146, 137, 194, 0.75);
  -moz-box-shadow: -1px 7px 7px 1px rgba(146, 137, 194, 0.75);
}

header #header__h1, header .header__nav {
  color: #632e79d0;
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 320px) {
  header #header__h1, header .header__nav {
    font-size: 1.25rem;
  }
}

@media (min-width: 480px) {
  header #header__h1, header .header__nav {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  header #header__h1, header .header__nav {
    font-size: 2rem;
  }
}

@media (min-width: 960px) {
  header #header__h1, header .header__nav {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  header #header__h1, header .header__nav {
    font-size: 2.75rem;
  }
}

header .header__nav {
  font-style: italic;
}

@media (min-width: 320px) {
  header .header__nav {
    font-size: 0.5rem;
  }
}

@media (min-width: 480px) {
  header .header__nav {
    font-size: 0.75rem;
  }
}

@media (min-width: 1024px) {
  header .header__nav {
    font-size: 1.25rem;
  }
}

header .header__nav .header__nav__logo {
  height: 75px;
  width: 75px;
}

@media (min-width: 320px) and (max-width: 567px) {
  header .header__nav .header__nav__logo {
    height: 50px;
    width: 50px;
  }
}

/*propiedades footer*/
.footer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bbb3be), color-stop(#bbb2c0), color-stop(#bbb0c3), color-stop(#baafc5), color-stop(#b9aec8), color-stop(#b7abca), color-stop(#b4a7cd), color-stop(#b1a4cf), color-stop(#ac9ed1), color-stop(#a897d3), color-stop(#a291d4), to(#9d8bd6));
  background-image: linear-gradient(to right bottom, #bbb3be, #bbb2c0, #bbb0c3, #baafc5, #b9aec8, #b7abca, #b4a7cd, #b1a4cf, #ac9ed1, #a897d3, #a291d4, #9d8bd6);
  color: #2b0252;
  padding-left: 25px;
  padding-top: 5px;
  box-shadow: -1px -5px 7px 1px rgba(146, 137, 194, 0.75);
  -webkit-box-shadow: -1px -5px 7px 1px rgba(146, 137, 194, 0.75);
  -moz-box-shadow: -1px -5px 7px 1px rgba(146, 137, 194, 0.75);
}

.footer .footer__mapa {
  max-width: 50%;
  max-height: 30%;
}

@media (min-width: 320px) and (max-width: 567px) {
  .footer .footer__mapa {
    max-height: 82px;
  }
}

.footer .footer__datoscontacto {
  font-size: 1em;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer__datoscontacto {
    display: none !important;
  }
}

.footer .footer__copyright {
  font-size: 1rem;
  color: #632e79d0;
  border-top: black;
}

.redessociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #06000c;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.redessociales .redessociales__imagenes {
  height: 30px;
  width: 30px;
}

/*propiedades customizadas carrousel bootstrap*/
#carouselExampleDark {
  width: 100%;
}

#carouselExampleDark .carousel-inner {
  width: 100%;
  margin: 5px;
}

#carouselExampleDark .carousel-inner .carousel-inner__imagenes {
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 320px) {
  #carouselExampleDark .carousel-inner .carousel-inner__imagenes {
    height: 400px;
  }
}

@media (min-width: 480px) {
  #carouselExampleDark .carousel-inner .carousel-inner__imagenes {
    height: 500px;
  }
}

@media (min-width: 768px) {
  #carouselExampleDark .carousel-inner .carousel-inner__imagenes {
    height: 600px;
  }
}

@media (min-width: 960px) {
  #carouselExampleDark .carousel-inner .carousel-inner__imagenes {
    height: 650px;
  }
}

@media (min-width: 1024px) {
  #carouselExampleDark .carousel-inner .carousel-inner__imagenes {
    height: 700px;
  }
}

@media (min-width: 1366px) {
  #carouselExampleDark .carousel-inner .carousel-inner__imagenes {
    height: 750px;
  }
}

@media (min-width: 1920px) {
  #carouselExampleDark .carousel-inner .carousel-inner__imagenes {
    height: 800px;
  }
}

#carouselExampleDark .carousel-inner .carousel-caption {
  width: 70%;
  overflow: hidden;
}

@media (min-width: 320px) {
  #carouselExampleDark .carousel-inner .carousel-caption {
    height: 400px;
  }
}

@media (min-width: 480px) {
  #carouselExampleDark .carousel-inner .carousel-caption {
    height: 500px;
  }
}

@media (min-width: 768px) {
  #carouselExampleDark .carousel-inner .carousel-caption {
    height: 600px;
  }
}

@media (min-width: 960px) {
  #carouselExampleDark .carousel-inner .carousel-caption {
    height: 650px;
  }
}

@media (min-width: 1024px) {
  #carouselExampleDark .carousel-inner .carousel-caption {
    height: 700px;
  }
}

@media (min-width: 1366px) {
  #carouselExampleDark .carousel-inner .carousel-caption {
    height: 750px;
  }
}

@media (min-width: 1920px) {
  #carouselExampleDark .carousel-inner .carousel-caption {
    height: 800px;
  }
}

#carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
  color: #502f5ef5;
}

@media (min-width: 320px) {
  #carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
    font-size: 1.5rem;
  }
}

@media (min-width: 480px) {
  #carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  #carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
    font-size: 2.5rem;
  }
}

@media (min-width: 960px) {
  #carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  #carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
    font-size: 2.75rem;
  }
}

@media (min-width: 1366px) {
  #carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
    font-size: 3rem;
  }
}

@media (min-width: 1920px) {
  #carouselExampleDark .carousel-inner .carousel-caption #carousel-inner__encabezado {
    font-size: 3rem;
  }
}

#carouselExampleDark .carousel-inner .carousel-caption .carousel-inner__texto {
  color: black;
  overflow: hidden;
}

@media (min-width: 320px) {
  #carouselExampleDark .carousel-inner .carousel-caption .carousel-inner__texto {
    font-size: 0.75rem;
    text-align: center;
    margin: 40px;
    font-weight: bolder;
  }
}

@media (min-width: 480px) {
  #carouselExampleDark .carousel-inner .carousel-caption .carousel-inner__texto {
    font-size: 1rem;
    text-align: center;
    margin: 40px;
    font-weight: bolder;
  }
}

@media (min-width: 768px) {
  #carouselExampleDark .carousel-inner .carousel-caption .carousel-inner__texto {
    font-size: 1.5rem;
    text-align: center;
    margin: 45px;
    font-weight: bolder;
  }
}

@media (min-width: 960px) {
  #carouselExampleDark .carousel-inner .carousel-caption .carousel-inner__texto {
    font-size: 2rem;
    text-align: center;
    margin: 45px;
    font-weight: bolder;
  }
}

@media (min-width: 1024px) {
  #carouselExampleDark .carousel-inner .carousel-caption .carousel-inner__texto {
    font-size: 2.5rem;
    text-align: center;
    margin: 45px;
    font-weight: bolder;
  }
}

@media (min-width: 1366px) {
  #carouselExampleDark .carousel-inner .carousel-caption .carousel-inner__texto {
    font-size: 2.75rem;
    text-align: center;
    margin: 50px;
    font-weight: bolder;
  }
}

.carousel-inner {
  width: 100%;
  margin: 5px;
}

.carousel-inner .carousel-inner__imagenes--especialidades {
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 320px) {
  .carousel-inner .carousel-inner__imagenes--especialidades {
    height: 400px;
  }
}

@media (min-width: 480px) {
  .carousel-inner .carousel-inner__imagenes--especialidades {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .carousel-inner .carousel-inner__imagenes--especialidades {
    height: 600px;
  }
}

@media (min-width: 960px) {
  .carousel-inner .carousel-inner__imagenes--especialidades {
    height: 650px;
  }
}

@media (min-width: 1024px) {
  .carousel-inner .carousel-inner__imagenes--especialidades {
    height: 700px;
  }
}

@media (min-width: 1366px) {
  .carousel-inner .carousel-inner__imagenes--especialidades {
    height: 750px;
  }
}

@media (min-width: 1920px) {
  .carousel-inner .carousel-inner__imagenes--especialidades {
    height: 800px;
  }
}

.carousel-caption {
  width: 70%;
  overflow: hidden;
}

@media (min-width: 320px) {
  .carousel-caption {
    height: 400px;
  }
}

@media (min-width: 480px) {
  .carousel-caption {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .carousel-caption {
    height: 600px;
  }
}

@media (min-width: 960px) {
  .carousel-caption {
    height: 650px;
  }
}

@media (min-width: 1024px) {
  .carousel-caption {
    height: 700px;
  }
}

@media (min-width: 1366px) {
  .carousel-caption {
    height: 750px;
  }
}

@media (min-width: 1920px) {
  .carousel-caption {
    height: 800px;
  }
}

.carousel-caption #carousel-inner__encabezado2 {
  color: #866294f5;
}

@media (min-width: 320px) {
  .carousel-caption #carousel-inner__encabezado2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 480px) {
  .carousel-caption #carousel-inner__encabezado2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .carousel-caption #carousel-inner__encabezado2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 960px) {
  .carousel-caption #carousel-inner__encabezado2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .carousel-caption #carousel-inner__encabezado2 {
    font-size: 2.75rem;
  }
}

@media (min-width: 1366px) {
  .carousel-caption #carousel-inner__encabezado2 {
    font-size: 3rem;
  }
}

@media (min-width: 1920px) {
  .carousel-caption #carousel-inner__encabezado2 {
    font-size: 3rem;
  }
}

.carousel-caption .carousel-inner__texto2 {
  color: #65596e;
}

@media (min-width: 320px) {
  .carousel-caption .carousel-inner__texto2 {
    font-size: 0.75rem;
    text-align: center;
    margin: 40px;
    font-weight: bolder;
  }
}

@media (min-width: 480px) {
  .carousel-caption .carousel-inner__texto2 {
    font-size: 1rem;
    text-align: center;
    margin: 40px;
    font-weight: bolder;
  }
}

@media (min-width: 768px) {
  .carousel-caption .carousel-inner__texto2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 45px;
    font-weight: bolder;
  }
}

@media (min-width: 960px) {
  .carousel-caption .carousel-inner__texto2 {
    font-size: 2rem;
    text-align: center;
    margin: 45px;
    font-weight: bolder;
  }
}

@media (min-width: 1024px) {
  .carousel-caption .carousel-inner__texto2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 45px;
    font-weight: bolder;
  }
}

@media (min-width: 1366px) {
  .carousel-caption .carousel-inner__texto2 {
    font-size: 2.75rem;
    text-align: center;
    margin: 50px;
    font-weight: bolder;
  }
}

.carousel-caption #carousel-inner__encabezado2--especialidades {
  color: #2f0341;
}

@media (min-width: 320px) {
  .carousel-caption #carousel-inner__encabezado2--especialidades {
    padding-right: 30%;
    margin-top: 30%;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

@media (min-width: 480px) {
  .carousel-caption #carousel-inner__encabezado2--especialidades {
    padding-right: 30%;
    margin-top: 30%;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .carousel-caption #carousel-inner__encabezado2--especialidades {
    padding-right: 30%;
    margin-top: 25%;
    font-weight: bold;
    font-size: 2.5rem;
  }
}

@media (min-width: 960px) {
  .carousel-caption #carousel-inner__encabezado2--especialidades {
    padding-right: 30%;
    margin-top: 23%;
    font-weight: bold;
    font-size: 2.75rem;
  }
}

@media (min-width: 1024px) {
  .carousel-caption #carousel-inner__encabezado2--especialidades {
    padding-right: 30%;
    margin-top: 20%;
    font-weight: bold;
    font-size: 2.5rem;
  }
}

@media (min-width: 1366px) {
  .carousel-caption #carousel-inner__encabezado2--especialidades {
    padding-right: 30%;
    margin-top: 18%;
    font-weight: bold;
    font-size: 2.5rem;
  }
}

@media (min-width: 1920px) {
  .carousel-caption #carousel-inner__encabezado2--especialidades {
    padding-right: 30%;
    margin-top: 15%;
    font-weight: bold;
    font-size: 2.5rem;
  }
}

/*propiedades de las cards de staff*/
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 32px 24px 34px -10px rgba(101, 89, 110, 0.57);
  -webkit-box-shadow: 32px 24px 34px -10px rgba(101, 89, 110, 0.57);
  -moz-box-shadow: 32px 24px 34px -10px rgba(101, 89, 110, 0.57);
}

.card .card-title, .card .card-text {
  text-align: center;
  color: #2f0341;
}

@media (min-width: 320px) {
  .card .card-title, .card .card-text {
    font-size: 0.5rem;
  }
}

@media (min-width: 480px) {
  .card .card-title, .card .card-text {
    font-size: 0.75rem;
  }
}

@media (min-width: 960px) {
  .card .card-title, .card .card-text {
    font-size: 1rem;
  }
}

/*propiedades de iframes tipss*/
@media (min-width: 768px) {
  .embed-responsive-item {
    height: 300px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .embed-responsive-item {
    height: 380px;
    margin-bottom: 5px;
  }
}

/*propiedades formulario de contacto*/
.contacto {
  padding: 50px;
  color: #2b0252;
  font-family: 'Cabin Condensed', sans-serif;
}

@media (min-width: 568px) and (max-width: 767px) {
  .contacto {
    padding: 150x;
  }
}

.contacto .contacto__formulario {
  margin: auto;
  padding: 20px;
  text-align: center;
  background: #ebe6ec;
  border-radius: 6px;
  max-width: 1100px;
  box-shadow: 10px 19px 19px -8px rgba(176, 128, 219, 0.54);
  -webkit-box-shadow: 10px 19px 19px -8px rgba(176, 128, 219, 0.54);
  -moz-box-shadow: 10px 19px 19px -8px rgba(176, 128, 219, 0.54);
}

.contacto .contacto__formulario #contacto__formulario--texto {
  max-width: 100%;
}

@media (min-width: 320px) {
  .contacto .contacto__formulario #contacto__formulario--texto {
    padding-top: 25px;
    font-size: 0.75rem;
  }
}

@media (min-width: 550px) {
  .contacto .contacto__formulario #contacto__formulario--texto {
    font-size: 1.25rem;
  }
}

@media (min-width: 650px) {
  .contacto .contacto__formulario #contacto__formulario--texto {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .contacto .contacto__formulario #contacto__formulario--texto {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  .contacto .contacto__formulario #contacto__formulario--texto {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .contacto .contacto__formulario #contacto__formulario--texto {
    font-size: 2rem;
  }
}

.contacto .contacto__formulario input,
.contacto .contacto__formulario label,
.contacto .contacto__formulario textarea {
  width: 100%;
  padding: 8px;
}

@media (min-width: 320px) {
  .contacto .contacto__formulario input,
  .contacto .contacto__formulario label,
  .contacto .contacto__formulario textarea {
    font-size: 0.75rem;
  }
}

@media (min-width: 480px) {
  .contacto .contacto__formulario input,
  .contacto .contacto__formulario label,
  .contacto .contacto__formulario textarea {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .contacto .contacto__formulario input,
  .contacto .contacto__formulario label,
  .contacto .contacto__formulario textarea {
    font-size: 1.25rem;
  }
}

@media (min-width: 960px) {
  .contacto .contacto__formulario input,
  .contacto .contacto__formulario label,
  .contacto .contacto__formulario textarea {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .contacto .contacto__formulario input,
  .contacto .contacto__formulario label,
  .contacto .contacto__formulario textarea {
    font-size: 1.5rem;
  }
}

.contacto .contacto__formulario textarea {
  min-height: 130px;
  max-height: 190px;
  max-width: 100%;
}

.contacto .contacto__formulario .contacto__formulario--boton {
  color: #f3f0f7;
  background-color: #511569;
  width: 100%;
  border-radius: 2px;
  border: solid 2px gray;
  pointer-events: all;
}

.contacto .contacto__formulario .contacto__formulario--img {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 10px 19px 19px -8px rgba(176, 128, 219, 0.54);
          box-shadow: 10px 19px 19px -8px rgba(176, 128, 219, 0.54);
}
/*# sourceMappingURL=estilos.css.map */