*{
    list-style-type:none;
    text-decoration: none;
    box-sizing: border-box;
    overflow: auto;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    margin: 0%;
    padding: 0%;
}


    #body{
        background-image: linear-gradient(to bottom, #e6dae8, #ded2e1, #d6cada, #cec2d3, #c6bacc, #c5bacd, #c5bacd, #c4bace, #cac2d6, #d0c9de, #d7d1e6, #ddd9ee);

    }
    header{
        background-image: linear-gradient(to right bottom, #bbb3be, #bbb2c0, #bbb0c3, #baafc5, #b9aec8, #b7abca, #b4a7cd, #b1a4cf, #ac9ed1, #a897d3, #a291d4, #9d8bd6);
        font-style: italic;
        }
    
    #header__h1{
        color: #632e79d0;
        font-style: italic;
        font-weight: bold;
    }

    #mainindex{
        background-position: center;
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        overflow: hidden;
        margin: auto;

    }

    .firstseccion{
        display: grid;
    }

    .secondseccion{
        display: grid;
        padding-top: 20px;
    }
    .titulosseccion{
        font-size: 3rem;
        color: rgb(52, 38, 58);
        font-weight:bold;
        text-align: center;
    }
    
    .texto{
        font-size: 2rem;
        color:rgb(43, 2, 82);
        text-align: center;
        margin: 5px;
        padding-bottom: 250px;

    }

    .texto2{
        font-size: 2.5rem;
        color:rgb(239, 236, 241);
        text-align: center;
        margin: 5px;
        padding-bottom: 300px;

    }

    #encabezadoslabel1{
     font-size: 2.5rem;
     color: #502f5ef5;

    }
    
    #encabezadoslabel2{
        font-size: 3rem;
        color:#a392aaf5 ;
   
       }
    
    .contacto{
        padding: 50px;
    }
    #footermain{
        background-image: linear-gradient(to right bottom, #bbb3be, #bbb2c0, #bbb0c3, #baafc5, #b9aec8, #b7abca, #b4a7cd, #b1a4cf, #ac9ed1, #a897d3, #a291d4, #9d8bd6);
        color: #632e79d0;
        padding-left: 25px;
        padding-top: 5px;


    }
    .redessociales__enlaces{
        display: flex;
        font-weight: bold;
        color: rgb(6, 0, 12);
        justify-content:space-evenly;
        align-items: center;
        padding-top: 10px;
        }

    #datoscontacto{
        font-size: 1em;
    }
    
    .carousel-inner{
        height: 800px;
        width:100%;
        object-fit: cover;

    }
    

    @media (min-width: 568px) and (max-width: 767px){


        
        #header__h1{
        font-size: 1.5rem;
        }

        .titulosseccion{
            font-size: 1.5rem;
            }
    
        .texto{
        font-size: 1rem;
        }


        #datoscontacto{
            display:none !important; 

        }


        .texto{
            font-size: 1.5rem;
            color:rgb(43, 2, 82);
            text-align: center;
            margin: 5px;
            padding-bottom:300px;
    
        }
    
        .texto2{
            font-size: 1.5rem;
            color:rgb(130, 65, 184);
            text-align: center;
            margin: 5px;
            padding-bottom: 600px;
    
        }
        

        #tcardio{
            padding-bottom: 50%;
            padding-right: 25%;
            font-weight: bold;
        }
    
        #tcirugia{
            padding-bottom: 50%;
            padding-right: 25%;
            font-weight: bold;
        }
    
        #tendocrinología{
            padding-bottom: 50%;
            padding-right: 25%;  
            font-weight: bold;
        }
        
        #tgineco{
            padding-bottom: 50%;
            padding-right: 25%; 
            font-weight: bold;
        }
        #tnut{
            padding-bottom: 50%;
            padding-right: 25%;  
            font-weight: bold;
        }
    
        #tpsico{
            padding-bottom: 50%;
            padding-right: 25%; 
            font-weight: bold; 
        }
     
        .contacto{
            padding: 150x;
        }

        #mapa{
            max-width: 50%;
            max-height: 30%;
        }
}

@media (min-width: 320px) and (max-width: 567px){



    #header__h1{
    font-size: 1.5rem;
    }

    .titulosseccion{
        font-size: 1.5rem;
        }

    .texto{
    font-size: 1rem;
    }


    #datoscontacto{
        display:none !important; 

    }


    .texto{
        font-size: 1rem;
        color:rgb(43, 2, 82);
        text-align: center;
        margin: 5px;
        padding-bottom: 300px;

    }

    .texto2{
        font-size: 1rem;
        color:rgb(130, 65, 184);
        text-align: center;
        margin: 5px;
        padding-bottom: 600px;

    }
    
    #tcardio{
        padding-bottom: 75%;
        padding-right: 25%;
    }

    #tcirugia{
        padding-bottom: 75%;
        padding-right: 25%;  
    }

    #tendocrinología{
        padding-bottom: 75%;
        padding-right: 25%;  
    }
    
    #tgineco{
        padding-bottom: 75%;
        padding-right: 25%;  
    }

    #tnut{
        padding-bottom: 75%;
        padding-right: 25%;  
    }

    #tpsico{
        padding-bottom: 75%;
        padding-right: 25%;  
    }

    .card{
        width: 150px;

    }
    .card-title{
        font-size: 0.5rem;


    }

    .card-text{
        font-size: 0.05rem;

    }
    
    #mapa{
        max-width: 50%;
        max-height: 30%;
    }
}
