$Negrita:bold;
$Cursiva:italic;
$TamanioFuenteMayor: 3rem;
$Fontsizes:(XXL:$TamanioFuenteMayor,
    XL:$TamanioFuenteMayor - 0.25,
    L:$TamanioFuenteMayor - 0.5,
    M:$TamanioFuenteMayor - 1,
    S:$TamanioFuenteMayor - 1.5,
    XS:$TamanioFuenteMayor - 1.75,
    STD:$TamanioFuenteMayor - 2,
    XXS:$TamanioFuenteMayor - 2.25,
    US:$TamanioFuenteMayor - 2.5,
);