/*mixin tamaño del logo IMA*/
@mixin tamanioLogo ($width, $height) {
    height: $height;
    width: $width;
}


/*propiedades box model carouseles*/

@mixin carouselIndexBMod ($AlineaTexto, $margin, $font-weight) {
    text-align: $AlineaTexto;
    margin: $margin;
    font-weight: $font-weight;
}


@mixin carouselEspecialidadesBMod ($padding-right, $margin-top, $Negrita) {
    padding-right: $padding-right;
    margin-top: $margin-top;
    font-weight: $Negrita
}