/*propiedades customizadas carrousel bootstrap*/

#carouselExampleDark {
    width: 100%;

    .carousel-inner {
        width: 100%;
        margin: 5px;

        .carousel-inner__imagenes {
            width: 100%;
            border-radius: 5px;

            @media (min-width: 320px) {
                height: 400px;
            }

            @media (min-width: 480px) {
                height: 500px;
            }

            @media (min-width: 768px) {
                height: 600px;
            }

            @media (min-width: 960px) {
                height: 650px;
            }

            @media (min-width: 1024px) {
                height: 700px;
            }

            @media (min-width: 1366px) {
                height: 750px;
            }

            @media (min-width: 1920px) {
                height: 800px;
            }
        }

        .carousel-caption {
            width: 70%;
            overflow: hidden;

            @media (min-width: 320px) {
                height: 400px;
            }

            @media (min-width: 480px) {
                height: 500px;
            }

            @media (min-width: 768px) {
                height: 600px;
            }

            @media (min-width: 960px) {
                height: 650px;
            }

            @media (min-width: 1024px) {
                height: 700px;
            }

            @media (min-width: 1366px) {
                height: 750px;
            }

            @media (min-width: 1920px) {
                height: 800px;
            }

            #carousel-inner__encabezado {
                color: map-get($PaletaColoreCarousel, Encabezado);

                @media (min-width: 320px) {
                    font-size: map-get($Fontsizes, S);
                }

                @media (min-width: 480px) {
                    font-size: map-get($Fontsizes, M);
                }

                @media (min-width: 768px) {
                    font-size: map-get($Fontsizes, L);
                }

                @media (min-width: 960px) {
                    font-size: map-get($Fontsizes, L);
                }

                @media (min-width: 1024px) {
                    font-size: map-get($Fontsizes, XL);
                }

                @media (min-width: 1366px) {
                    font-size: map-get($Fontsizes, XXL);
                }

                @media (min-width: 1920px) {
                    font-size: map-get($Fontsizes, XXL);
                }

            }

            .carousel-inner__texto {
                color: map-get($PaletaColoreCarousel, Textocont);
                overflow: hidden;

                @media (min-width: 320px) {
                    font-size: map-get($Fontsizes, XXS);
                    @include carouselIndexBMod(center, 40px, bolder);
                }

                @media (min-width: 480px) {
                    font-size: map-get($Fontsizes, STD);
                    @include carouselIndexBMod(center, 40px, bolder);
                }

                @media (min-width: 768px) {
                    font-size: map-get($Fontsizes, S);
                    @include carouselIndexBMod(center, 45px, bolder);
                }

                @media (min-width: 960px) {
                    font-size: map-get($Fontsizes, M);
                    @include carouselIndexBMod(center, 45px, bolder);
                }

                @media (min-width: 1024px) {
                    font-size: map-get($Fontsizes, L);
                    @include carouselIndexBMod(center, 45px, bolder);
                }

                @media (min-width: 1366px) {
                    font-size: map-get($Fontsizes, XL);
                    @include carouselIndexBMod(center, 50px, bolder);
                }
            }
        }
    }

}

.carousel-inner {
    width: 100%;
    margin: 5px;

    .carousel-inner__imagenes--especialidades {
        width: 100%;
        border-radius: 5px;

        @media (min-width: 320px) {
            height: 400px;
        }

        @media (min-width: 480px) {
            height: 500px;
        }

        @media (min-width: 768px) {
            height: 600px;
        }

        @media (min-width: 960px) {
            height: 650px;
        }

        @media (min-width: 1024px) {
            height: 700px;
        }

        @media (min-width: 1366px) {
            height: 750px;
        }

        @media (min-width: 1920px) {
            height: 800px;
        }

    }

}

.carousel-caption {
    width: 70%;
    overflow: hidden;

    @media (min-width: 320px) {
        height: 400px;
    }

    @media (min-width: 480px) {
        height: 500px;
    }

    @media (min-width: 768px) {
        height: 600px;
    }

    @media (min-width: 960px) {
        height: 650px;
    }

    @media (min-width: 1024px) {
        height: 700px;
    }

    @media (min-width: 1366px) {
        height: 750px;
    }

    @media (min-width: 1920px) {
        height: 800px;
    }

    #carousel-inner__encabezado2 {
        color: map-get($PaletaColoreCarousel, EncabezadoAlt);

        @media (min-width: 320px) {
            font-size: map-get($Fontsizes, S);
        }

        @media (min-width: 480px) {
            font-size: map-get($Fontsizes, M);
        }

        @media (min-width: 768px) {
            font-size: map-get($Fontsizes, L);
        }

        @media (min-width: 960px) {
            font-size: map-get($Fontsizes, L);
        }

        @media (min-width: 1024px) {
            font-size: map-get($Fontsizes, XL);
        }

        @media (min-width: 1366px) {
            font-size: map-get($Fontsizes, XXL);
        }

        @media (min-width: 1920px) {
            font-size: map-get($Fontsizes, XXL);
        }
    }

    .carousel-inner__texto2 {
        color: map-get($PaletaColoreCarousel, TextoSup);

        @media (min-width: 320px) {
            font-size: map-get($Fontsizes, XXS);
            @include carouselIndexBMod(center, 40px, bolder);
        }

        @media (min-width: 480px) {
            font-size: map-get($Fontsizes, STD);
            @include carouselIndexBMod(center, 40px, bolder);
        }

        @media (min-width: 768px) {
            font-size: map-get($Fontsizes, S);
            @include carouselIndexBMod(center, 45px, bolder);
        }

        @media (min-width: 960px) {
            font-size: map-get($Fontsizes, M);
            @include carouselIndexBMod(center, 45px, bolder);
        }

        @media (min-width: 1024px) {
            font-size: map-get($Fontsizes, L);
            @include carouselIndexBMod(center, 45px, bolder);
        }

        @media (min-width: 1366px) {
            font-size: map-get($Fontsizes, XL);
            @include carouselIndexBMod(center, 50px, bolder);
        }

    }


    #carousel-inner__encabezado2--especialidades {
        color: map-get($PaletaColoreCarousel, Especialidades);

        @media (min-width: 320px) {
            @include carouselEspecialidadesBMod(30%, 30%, $Negrita);
            font-size: map-get($Fontsizes, XS);
        }

        @media (min-width: 480px) {
            @include carouselEspecialidadesBMod(30%, 30%, $Negrita);
            font-size: map-get($Fontsizes, S);
        }

        @media (min-width: 768px) {
            @include carouselEspecialidadesBMod(30%, 25%, $Negrita);
            font-size: map-get($Fontsizes, L);
        }

        @media (min-width: 960px) {
            @include carouselEspecialidadesBMod(30%, 23%, $Negrita);
            font-size: map-get($Fontsizes, XL);
        }

        @media (min-width: 1024px) {
            @include carouselEspecialidadesBMod(30%, 20%, $Negrita);
            font-size: map-get($Fontsizes, L);
        }

        @media (min-width: 1366px) {
            @include carouselEspecialidadesBMod(30%, 18%, $Negrita);
            font-size: map-get($Fontsizes, L);
        }

        @media (min-width: 1920px) {
            @include carouselEspecialidadesBMod(30%, 15%, $Negrita);
            font-size: map-get($Fontsizes, L);
        }
    }

}